@model TVSWeb_Cloud.Models.Question
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Code Screen</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/style.css">
    <noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
</head>
<body>
    <div class="fluid-container">
        <div class="question-window">
            <div class="container question-navbar">
                <a href="/Home/Index/">
                    <i class="fas fa-home"> Home</i>
                </a>
                <span>|</span>
                <a href="/Home/Choosejava/">
                    <i class="fas fa-retweet"> Choose</i>
                </a>
                <span>|</span>
                <a href="/Home/Index/">
                    <i class="fab fa-twitch"> Help</i>
                </a>
            </div>
            <form action="">
                <div class="field">
                    <div class="fields">
                        <div class="field question-area">
                            <label class="question-title" style="color: black; text-align: center;">@Html.DisplayFor(model => model.qsTitle)</label>
                            <textarea name="question-content" style="color: black" rows="20" class="question-content" disabled="disabled">@Html.DisplayFor(model => model.qsContent)</textarea>
                        </div>
                    </div>
                </div>
            </form>

        </div>

        <div class="br"></div>

        <div class="main-content">
            <div class="code-window">
                <div class="field">
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field">
                                <label for="message" style="text-align: center;">Input</label>
                                <textarea name="message" id="message" rows="20" placeholder="nhập code"></textarea>
                            </div>
                            <div class="field">
                                <textarea name="message" id="message" rows="2" placeholder="nhập biến"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li style="padding: 0 45% 0 45%;"><input type="submit" value="Run" class="primary" /></li>
                            <!-- <li><input type="submit" value="Reset" class="primary" /></li> -->
                        </ul>
                    </form>
                </div>
            </div>
            <div class="result-window">
                <div class="field">
                    <div class="fields">
                        <div class="field">
                            <label for="message" style="text-align: center;">Result</label>
                            <textarea name="message" id="message" rows="27" disabled="disabled">Kết quả hiển thị ở đây</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>
